In [58]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [59]:
data=pd.read_csv('all_kindle_review.csv')
data.head(2)

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400

In [ ]:
df=data[['reviewText','rating']] #We just consider our dependent and independent features
df.head(2)

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       3
1  Great short read.  I didn't want to put it dow...       5

In [ ]:
df.isnull().sum() #to check for missing values

reviewText    0
rating        0
dtype: int64

In [ ]:
df.shape #to check the dimension of the dataframe

(12000, 2)

In [ ]:
df.rating.unique() #unique ratings

array([3, 5, 4, 2, 1], dtype=int64)

In [ ]:
df.rating.value_counts() #frequency table of the ratings

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

In [ ]:
len(df['rating']) #number of data points

12000

In [ ]:
## postive review is 1 and negative review is 0
df['rating']=(df['rating']>3).astype(int)  
df.head(2)

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       0
1  Great short read.  I didn't want to put it dow...       1

In [ ]:
df.rating.value_counts() #the dataset is a balanced one

rating
0    6000
1    6000
Name: count, dtype: int64

In [69]:
#Converting reviews to lower case
df['reviewText']=df['reviewText'].str.lower()

In [70]:
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [71]:
from bs4 import BeautifulSoup

In [72]:
## Removing special characters
df['reviewText']=df['reviewText'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))
## Remove the stopswords
df['reviewText']=df['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))
## Remove url 
df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))
## Remove html tags
df['reviewText']=df['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())
## Remove any additional spaces
df['reviewText']=df['reviewText'].apply(lambda x: " ".join(x.split()))

In [73]:
## Lemmatizer
from nltk.stem import WordNetLemmatizer

In [74]:
lemmatizer=WordNetLemmatizer()

In [ ]:
#function to lematize sentences
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [76]:
df['reviewText']=df['reviewText'].apply(lambda x:lemmatize_words(x))

In [77]:
df

                                              reviewText  rating
0      jace rankin may short he nothing mess man haul...       0
1      great short read didnt want put read one sitti...       1
2      ill start saying first four book wasnt expecti...       0
3      aggie angela lansbury carry pocketbook instead...       0
4      expect type book library pleased find price right       1
...                                                  ...     ...
11995  valentine cupid vampire- jena ian another vamp...       1
11996  read seven book series apocalypticadventure on...       1
11997  book really wasnt cuppa situation man capturin...       0
11998  tried use charge kindle didnt even register ch...       0
11999  taking instruction look often hidden world sex...       0

[12000 rows x 2 columns]

In [ ]:
df.to_csv('Kindle_review_preprocessed') #storing the preprocessed dataset